@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

body {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    width: 700px;
    height: auto;
    margin: auto;
    overflow: hidden; 
    font-family: Roboto;
    color: #888;
    padding-top: 20px;
    text-align: center;
    background-color: rgba(0,0, 0, .025);
}

/*-----------welcome page --------------------*/
 
#welcome {
    
    height: 300px;
    position: absolute;
    width: 700px;
    top: 0px;
    z-index: 1;
    background-color: #777;
    color: #FFF;
    border-radius: 12px; 
}
#welcome h1 {
    
    font-weight: 100; 
    font-size: 2em; 
    text-transform: uppercase; 
    margin-top: 30px;
}
#welcome span {
    display: block; 
    font-weight: 900; 
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.2em; 
    line-height: 65px;
    color: #FFF;
}

#welcome .btn.begin{
    height: 20px;
    width: 40px;
    float: center;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(200,25,20,.7);
    border-radius: 10px;;
    color: #FFF;
    position: relative;
    top: 0px;
    font-size: 14px; 
}

/*----------Splash page----------------------*/
.splash {
    height: 200px;
}

.splash h1 {
    font-weight: 100; 
    font-size: 2em; 
    text-transform: uppercase; 
    margin-top: 30px;
}

.splash h1 span {
    display: block; 
    font-weight: 900; 
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.2em; 
    line-height: 65px;
}

.splash h2 {
    padding: 20px;
}
/*----------------------------------------------*/
.question{
    margin-left: 150px;
    height: 420px;
    position:absolute;
    width: 400px;
    top: 400px;
    z-index: 1;
    background-color: #777;
    color: #FFF;
    border-radius: 12px;
    
}

.question input {
    line-height: 18px;
    position: relative;
    top: 65px;
}

.question .btn.submit {
    float: center;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(200,25,20,.7);
    border-radius: 10px;;
    color: #FFF;
    position: relative;
    top: 65px;
    font-size: 14px; 
}

.question img{
    position: relative;
    width: 90%;
    top: 20px;
}

.holdOn {
    text-align: center;
    position: absolute;
    top: 400px;
    margin-left: 150px;
    height: 380px;
    width: 400px;
    z-index: 1;
    background-color: #777;
    color: #FFF;
    border-radius: 12px;
}

.holdOn span{
    position: relative;
    top: 35px;
}

.holdOn img{
    position: relative;
    width: 300px;
    top: 65px;
    left: 35px;
    
}
.holdOn .btn {
    position: relative;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: rgba(200,25,20,.7);
    border-radius: 10px;;
    color: #FFF;
    top: 105px;
    font-size: 14px; 
    right: 145px;
    
}

